<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BBDDGestiónPedidos.Properties.Settings.BBDDPreviaQuarkConnectionString"
            connectionString="Data Source=DESKTOP-MSJO6R8;Initial Catalog=BBDDPreviaQuark;Persist Security Info=True;User ID=sa;Password=LQS23PaLosPibes;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>