@page "/"


<h1>Slide Automático</h1>

<div class="slider">
    <ul>
        <li> 
            <img src="/foto3.jpg"/>
        </li>
        <li>
            <img src="/foto4.jpg" />
        </li>
        <li>
            <img src="/foto5.jpg" />
        </li>
        <li>
            <img src="/foto6.jpg" />
        </li>
    </ul>
</div>



