@page "/"
@using BlazorAnimate;

<h1>Blazor Animate</h1>
<br />
<button class="btn btn-primary" @onclick="Animation">Animation</button>
<br />
<Animate Animation="Animations.SlideRight" Duration="TimeSpan.FromSeconds(2)" @ref"animate" IsManual=true>
    <h3>Lalala</h3>

</Animate>



@code{

    private Animate animate;

    private void Animation()
    {
        animate.Run();
    }

}