<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pizzeria Don Rémolo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div>
            <NavLink class="nav-link" href="veoveo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Veo veo...
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="paginola">
                <span class="oi oi-list-rich" aria-hidden="true"></span> p1...
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="/paginola">
                <span class="oi oi-list-rich" aria-hidden="true"></span> p2...
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}