@using MVC.Models;
@model List<Cerveza>

<h1>Cervezas</h1>
<p>
    <a asp-action="Create"> Crear </a>"
</p>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m=>item.Brand.Name)
                </td>               

            </tr>
        }
    </tbody>

</table>