
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">@Label</label>
    @Control
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public RenderFragment Control { get; set; }
}
